<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="listeners.ListenerTakeaLot"></listener>
	</listeners>
	<test thread-count="5" name="Testmxl">
		<classes>
			<class name="testTakeaLot.ReadDataFromExcelTests" />
			<class name="testTakeaLot.Tests" />
			<class name="testTakeaLot.ExeptionDemo" />
		</classes>
	</test> <!-- Testmxl -->
</suite> <!-- Suite -->
